/*-----------Sticky Footer Hack-------------*/
.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Site-content {
    flex: 1 0 auto;
    padding: var( — space) var( — space) 0;
    width: 100%;
}
.Site-content:after {
    content: ‘\00a0’;
    display: block;
    margin-top: var( — space);
    height: 0;
    visibility: hidden;
}

/*------------------Header-----------------*/
.App-header {
  color: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 2vw;
  padding-left: 10vw;
}

/*------------------Main-----------------*/
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-h2 {
  color:#EA973F;
  font-size: 2em;
  text-align: center;
  height: auto;
  padding-bottom: 4vh;
}

.ui.cards {
  padding: 1vw;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end ;
  padding-right: 10vw;
}

.logo {
  height: 25vh;
}

.header-logo {
  height: 5vh;;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25vh;
}

.map {
  height: 500px;
  width: 100%;
}

/*------------------Footer-----------------*/
.legal {
  color: rgb(92, 83, 83);
  font-size: .9em;
  padding-left: 10vw;
}

.footer {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  color: #58585A;
  bottom: 0;
  /* border-top: .2px gray solid; */
}